{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zarządzanie transportem aplikacja</title>
    <link rel="stylesheet" href="{% static 'css/simple.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
<header>
    {% if user.is_authenticated %}
        Witaj {{ user.username }}
    {% endif %}
    <nav>
        <ul>
            <li><a href="{% url 'exports' %}">Exporty</a></li>
            <li><a href="{% url 'imports' %}">Importy</a></li>
            <li><a href="{% url 'order_list' %}">Zlecenia</a></li>
            <li><a href="{% url 'customer_list' %}">Kontrahenci</a></li>
            <li><a href="{% url 'my_company' %}">Twoja Firma</a></li>
            <li><a href="{% url 'main_page' %}">STRONA GŁÓWNA</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">WYLOGUJ</a></li>
            {% endif %}

        </ul>
    </nav>
</header>

{% block content %}



{% endblock %}


<footer>
    <p>Copyright by E 2023</p>
</footer>
</body>
</html>
