{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zarządzanie transportem</title>
    <link rel="stylesheet" href="{% static "css/simple.css" %}">
</head>
<body>

<header>
    {% if user.is_authenticated %}
        Witaj {{ user.username }}
    {% endif %}
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">WYLOGUJ</a></li>
            <li><a href="{% url 'dashboard' %}">APLIKACJA</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">LOGOWANIE</a></li>
            <li><a href="{% url 'register' %}">REJESTRACJA</a></li>
            {% endif %}
            <li><a href="#">O APLIKACJI</a></li>
            <li><a href="#">KONTAKT</a></li>
        </ul>
    </nav>
</header>

{% block content %}


{% endblock %}

<footer>
    <p>Copyright by E 2023</p>
</footer>
</body>
</html>