{% extends 'dashboard2.html' %}
{% block content %}


    <h2>LISTA ZLECEŃ</h2>
    <a href="{% url 'order_create' %}"><input type="submit" value="DODAJ ZLECENIE"></a>
    <input type="text" id="search_input" onkeyup="searchFunction()" placeholder="Szukaj numeru zlecenia...">
    <table id="order_list_table" class="tg">
    <thead>
        <td class="tg-ul38">Numer zlecenia</td>
        <td class="tg-ul38">Data przyjęcia zlecenia</td>

        <td class="tg-ul38">Data zał</td>
        <td class="tg-ul38">Miejscowość zał</td>
        <td class="tg-ul38">Kod pocztowy zał</td>

        <td class="tg-ul38">Data rozł</td>
        <td class="tg-ul38">Miejscowość rozł</td>
        <td class="tg-ul38">Kod pocztowy rozł</td>
        <td class="tg-ul38">Liczba palet</td>
        <td class="tg-ul38">Rozmiar palet</td>
        <td class="tg-ul38">LDM</td>
        <td class="tg-ul38">Ciężar</td>
        <td class="tg-ul38">Cena (EUR)</td>
        <td class="tg-ul38">Kontrahent</td>
        <td class="tg-ul38">Osoba kontaktowa</td>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td class="tg-0lax"><a href="{{ object.get_absolute_url }}">{{ object.order_number }}</a></td>
        <td class="tg-0lax">{{ object.creation_date }}</td>
        <td class="tg-0lax">{{ object.pick_up_date }}</td>
        <td class="tg-0lax">{{ object.pick_up_city }}</td>
        <td class="tg-0lax">{{ object.pick_up_postcode }}</td>
        <td class="tg-0lax">{{ object.delivery_date }}</td>
        <td class="tg-0lax">{{ object.delivery_city }}</td>
        <td class="tg-0lax">{{ object.delivery_postcode }}</td>
        <td class="tg-0lax">{{ object.pallets_number }}</td>
        <td class="tg-0lax">{{ object.pallets_size }}</td>
        <td class="tg-0lax">{{ object.ldm }}</td>
        <td class="tg-0lax">{{ object.weight }}</td>
        <td class="tg-0lax">{{ object.price }}</td>
        <td class="tg-0lax">{{ object.client_vat_number }}</td>
        <td class="tg-0lax">{{ object.client_contact_person }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tbody></tbody>
    </table>





{% endblock %}
